@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');

@font-face {
   font-family: 'NanumBarunGothic';
   src: url(../asset/NanumBarunGothic.ttf);
}
@font-face {
   font-family: 'NanumBarunGothicBold';
   src: url(../asset/NanumBarunGothicBold.ttf);
}


/* font-family : 'Open Sans' */

/* Skip Nav */
#skip_nav a {
	display: block;position: absolute;left: 0;right: 0;top: -30px;background: #ff7d00;color: #FFF;text-align: center;
	line-height: 30px;font-size: 16px;
}
#skip_nav a:focus {top: 0;}


/* Common */
body {font-family: 'NanumBarunGothic','Open Sans',sans-serif;font-size: 16px;color: #333;overflow-x: hidden;}
button {cursor: pointer;}
strong {color: #ea6e21;}

.clrfix::after {content: "";display: block;clear: both;}
.blind {display: block;width: 0;height: 0;overflow: hidden;}




/* Header */
header {position: fixed;left: 0;right: 0;z-index: 99;} /* 헤더 높이 80px */
header h1 a {display: block;background: url(../img/logo_wh.png);width: 181px;height: 39px;float: left;margin-top: 20px;}


/* header scroll */
header.scroll {background: #fff;border-bottom: 1px solid #ccc;}
header.scroll h1 a {background: url(../img/logo.png);}
header.scroll #gnb {color: #333;}

/* Main */
.swiper {width: 100vw;height: 700px;}
.swiper-slide {position: relative;}
.swiper .slide1 {background: url(../img/visual1.jpg) center;}
.swiper .slide2 {background: url(../img/visual2.jpg) center;}
.swiper .slide3 {background: url(../img/visual3.jpg) center;}
.swiper .slide4 {background: url(../img/visual4.jpg) center;}

.swiper p {
   position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 1100px;
   font-size: 50px;color: #fff;line-height: 1.5em;text-align: right;
}
.swiper .slide4 p {text-align: center;transform: translate(-50%, -50%);left: 50%;top: 50%;width: 100%;font-size: 60px;}

.swiper-pagination {font-size: 24px;color: #fff;margin-bottom: 10px;}
.swiper-pagination-current {color: #ea6e21;}

.swiper-button-next, .swiper-button-prev {color: #fff !important;}
.swiper-button-next:hover, .swiper-button-prev:hover {color: #ea6e21 !important;}
.swiper-button-prev {left: 50px !important;}
.swiper-button-next {right: 50px !important;}



/* info_wrap */
.info_wrap {margin-top: 100px;text-align: center;}
.info_wrap h2 {font-size: 24px;text-align: center;margin-bottom: 50px;font-family: 'NanumBarunGothicBold';}
.info_wrap a {display: block;width: 100px;margin-top: 50px;padding: 5px 0 5px 10px;border: 1px solid #ccc;border-radius: 10px;font-size: 16px;color: #777;}
.info_wrap a:after {content: "";display: inline-block;background: url(../img/arrow_icon_gr.png);height: 16px;width: 9px;margin: -2px 0 0 10px;vertical-align: middle;}




/* quick_menu */
.quickmenu_wrap {margin-top: 180px;font-size: 18px;}
.quickmenu_wrap h3 {font-size: 20px;text-align: center;line-height: 80px;font-family: 'NanumBarunGothicBold';} 

.quickmenu_wrap .quick_minimap {border: 1px solid #ccc;}

.quickmenu_wrap .quick_info {border: 1px solid #ccc;}



.map_wrap {margin-top: 130px;text-align: center;}
.map_wrap h2 {font-size: 20px;font-family: 'NanumBarunGothicBold';margin-bottom: 30px;}
#map {width: 100vw;height: 598px;}
#map .iw_inner {padding: 15px 15px 0;}
#map .iw_inner h3 {font-size: 20px;}
#map .iw_inner p {color: #444;margin-bottom: 15px;}

/* footer */
footer {margin-top: 100px;border-top: 1px solid #ea6e21;padding: 50px 0;position: relative;font-size: 14px;} 

footer .footer_content .footer_menu {margin-bottom: 15px;}
footer .footer_content .footer_menu a:after {
   content: "";display: inline-block;width: 2px;height: 13px;border-radius: 1px;
   background: #bbb;vertical-align: middle;margin: -3px 5px 0;
}
footer .footer_content .footer_menu a:last-child::after {display: none;}
footer .footer_content .copyright {color: #777;}

footer .fam_site>button {font-size: 14px;padding: 10px 15px;border: 1px solid #ccc;border-radius: 15px;}
footer .fam_site>button>img {margin-left: 10px;}
footer .fam_site_on {display: none;background: #f5f5f5;line-height: 1.8em;z-index: 999;}
footer .fam_site .fam_site_on h3 {font-size: 20px;line-height: 1.5em;margin-bottom: 25px;float: left;}
footer .fam_site .fam_site_on h3::before {content: "";display: block;background: #ea6e21;width: 8px;height: 24px;border-radius: 5px;float: left;margin-right: 10px;}
footer .fam_site .fam_site_on .fam_close {float: right;border: none;width: 20px;height: 20px;margin: 0;}

footer .fam_site .fam_site_on ul.dep_1>li>span {display: block;width: 100%;box-sizing: border-box;background: #ffe7d4;border-radius: 5px;font-weight: bold;}

footer .fam_site .fam_site_on .dep_2 {box-sizing: border-box;border-radius: 5px;background: #fff;}
footer .fam_site .fam_site_on .dep_2 li {display: block;}
footer .fam_site .fam_site_on .prod_bg .dep_2 {float: left;width: 50%;padding: 0;border: none;}
